.LoginPageTop{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.LoginPageContainer{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    text-align: start;
    /* padding: 100px 0px; */
    max-height: 650px;
}

.LoginPageImage{
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.LoginForm{
    background-color: white;
    /* max-width: 400px; */
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px 50px;
}

.loginButton{
    background: #6552FF;
    color: white;
border: 1px solid #6552FF;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}

.buttonsDiv{
    margin-top: 25px;
    height: 100px;
}

.subtextLoginButton{
    /* margin-top: 50px !important; */
    color: #6552FF;
    cursor: pointer;
}