/* form {
  text-decoration: none;

}

form .accordain-input {
  border: none;
} */

.styleLabels{
  color: grey;
  font-size: 14px;
}


.inputFields select {
  /* background-color: #f2f2f2; */
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  font-size: 16px;
  width: 88%;
}

.inputFields option {
  font-size: 14px;
  padding: 80px 120px;
  background-color: #f2f2f2;
  color: #333;
  /* height: 15px; */
}

.accordain-input {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    font-weight: 300;
    color: #797a9e;
    letter-spacing: 0.11em;
}

.accordain-input::placeholder{
    color: black !important;
    font-size: 12px;
}

.accordain-input:focus {
    outline: 0;
    border-bottom: 1px solid rgba(128, 155, 206, 0.7);
    transition: 0.6s all ease;
  }

  .button-accordian-user {
    width: 100%;
    height: 30px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    z-index: 3;
    background: #129D72;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
  }