@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

.topCardButton {
    font: inherit;
    line-height: 1;
    background-color: white;
    border: 2px solid #37474f;
    color: #37474f;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

/* .topCardButton:focus{
    background-color: #37474f;
    color: white
  } */




.topCard {
  border-radius: 10px;
  /* border: #37474f 1px solid; */
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  /* width: 400px; */
  height: 160px;
  background-color: #ffffff;
  /* padding: 20px; */
  padding-top: 4px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(55,71,79,0.4) -5px 5px, rgba(55,71,79,0.3) -10px 10px, rgba(55,71,79,0.2) -15px 15px, rgba(55,71,79,0.1) -20px 20px, rgba(55,71,79,0.05) -25px 25px;
}

.topCard::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #37474f;
  height:220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.topCard:hover::before{
    transition-delay:0.2s ;

  transform: scale(40);
}

.topCard:hover{
    color: #ffffff;

}

.topCard p{
    padding: 10px 0;
    font-size: larger;
    font-weight: bold;
    animation: myanimation 5s infinite;
}

/* @keyframes myanimation {
  0% {color: red;}
  25%{color:yellow;}
  50%{color:green;}
  75%{color:brown;}
  100% {color: red;}
} */
@keyframes myanimation {
  0% {color: white;}
  25%{color:#37474f;}
  50%{color:#37474f;}
  75%{color:#37474f;}
  100% {color: #37474f;}
}