.topbardropdown {
    float: left;
    overflow: hidden;
}

.topbardropdown .topbardropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topbardropdown:hover .topbardropbtn {
    background-color: white;
    color: black;
}

.topbardropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
    right: 24px;
}

.topbardropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topbardropdown-content a:hover {
    background-color: #ddd;
}

.topbardropdown:hover .topbardropdown-content {
    display: block;
}

.topBarIcons .newtabanchortags a {
    color: white;
    text-decoration: none;
}