.Page2Tabs {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.Page2ChartTopLeft , .Page2ChartTopRight{
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0.375rem;
    color: gray;
}